/*
body { text-align: center; font-family: "Helvetica Neue", Arial, sans-serif; color: #444; }
h1 { text-align: center; font-weight: normal;  }
*/

.sharpspring_magic_row { max-width: 90%; width: 1200px; margin: 0 auto; }
.sharpspring_magic_large-3 { width: 25%; float: left; }
.sharpspring_magic_rank { font-size: 112px; color: #333; }